.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#infoAndForm {
  display: flex;
  align-items: flex-start; /* Align items at the top */
}

#infoPaneDiv {
  width: 30%; /* Set the width for infoPane */
  background-color: lightblue; /* Add background color or any other styles you want */
  position: fixed; /* Fix the position */
  left: 0; /* Stick to the left */
  display: flex;
}

#form {
  width: 70%; /* Set the width for form */
  margin-left: 32%; /* Adjust margin to create space for infoPane */

}