.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#infoAndForm {
  display: flex;
  align-items: flex-start; /* Align items at the top */
}


@media (max-width: 768px) {
  #infoPaneDiv {
    display: none;
  }
}

@media (min-width: 768px) {
  #form {
  width: 80%; /* Set the width for form */
  margin-left: 20%; /* Adjust margin to create space for infoPane */
  }

  .lpOption:hover {
    transform: scale(2.5); /* Scale the image to 4 times its original size on hover */
  }
}